/* Select everything to be border sizing */  
*{
    box-sizing: border-box;
}

/* Set the body and html to have no margin/padding and fit to size */
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex; 
    flex-direction: column;
}

/* Body Layout */
body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    background-color: #FAF3E0;
}

/* Navigation Bar */
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    color: hsl(0, 100%, 99%); 
    position: fixed;
    top: 0; 
    width: 100%;
    height: 70px;
    z-index: 1000;
    background-color: #FFF3E0;
}

/* Style for logo and title */
.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

#site-title {
    font-size: 22px;
    font-weight: bold;
    color: hsl(20, 80%, 70%);
    font-family: "Roboto", sans-serif; 
} 

#site-title:hover{
    animation: glow 0.5s infinite alternate ease-in-out;
}

.nav-links{
    color: hsl(20, 80%, 70%);
    text-decoration: none;
    font-size: 16px; 
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding: 10px; 
}

.nav-links:hover{
    animation: glow 0.5s infinite alternate ease-in-out;
} 

#sent{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 10px;
    background-color: hsl(20, 80%, 70%);
    color: snow;
} 

#sent:hover{
    background-color: hsl(0, 2%, 8%);
}


#brief-img{
    width: 300px;
    height: auto;
    margin-top: 75px;
}

.brief-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #FFCC80;
}

.brief-text{
    max-width: 300px;
}

.brief-text h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #4E342E;
}  


.quote-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    gap: 20px; /* Space between image and text */
}


.section-img{
    width: 200px;
    height: auto;
    margin-right: 10px;
    animation: slideRight 1s ease-in-out  forwards;
}

.section-text {
    max-width: 400px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}


main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}


footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #795548;
} 


/* 
Animations
*/ 

@keyframes slideRight{
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} 

@keyframes glow {
    0% {
        text-shadow: 0px 0px 10px rgba(255, 255, 0, 0.8);
    } 
    100% {
        text-shadow: 0px 0px 20px rgba(255, 255, 0, 1)
    }
}